p,
li,
a,
h2,
h3,
h4,
h5 {
    font-family: 'Comfortaa';
}

.background-home {
    height: 90vh;
    background: url('../assets/images/background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button-view {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 50px;
    text-align: center;
    background: linear-gradient(125.56deg, #105EFB 26.72%, rgba(25, 154, 251, 0.85) 91.96%);
    border: 0px;
    border-radius: 12px;
    font-family: 'Comfortaa';
    color: #FAFAFA;
    transition: 0.5s;
}

.button-view:hover {
    background: transparent;
    color: #199AFB;
    border: 1px solid #199AFB;
    transition: 0.5s;
}

.button-navbar {
    box-sizing: border-box;
    width: 190px;
    height: 40px;
    text-align: center;
    background: transparent;
    border: 1px solid #199AFB;
    border-radius: 12px;
    font-family: 'Comfortaa';
    color: #199AFB;
    transition: 0.5s;
}

.button-navbar:hover {
    background: linear-gradient(125.56deg, #105EFB 26.72%, rgba(25, 154, 251, 0.85) 91.96%);
    color: #FAFAFA;
    border: 0px;
    transition: 0.5s;
}